body {
    margin: 1em;
    background-image: url("file:///Users/samgossie/Prime/Unit5/assignment-unit-5.2/assignment/record.png");
    background-color: rgb(36, 68, 94);
    background-repeat: repeat;
}

.title {
    background-color: rgb(11, 60, 36);
    color: aliceblue;
    text-align: center;
    border-radius: 15em;

}

.page {
    background-color: lightgrey;
    text-align: center;
    padding: 1em;
    border-radius: 15em;
}


