body {
    margin: 0px;
    background-image: url("file:///Users/samgossie/Prime/Unit5/assignment-unit-5.2/assignment/record.png");
    background-repeat: repeat;
}

header {
    background-color: rgb(11, 60, 36);
    color: aliceblue;
    text-align: center;

}

main {
    background-color: lightgrey;
    padding: 1em;
}


