header {
    background-color: rgb(11, 60, 36);
    color: aliceblue;
    text-align: center;

}

main {
    background-color: lightgrey;
    background-repeat: repeat;
}



body {
    background-image: url ("./Users/samgossie/Prime/Unit5/assignment-unit-5.2/assignment/record.png");
    margin: 0px;
    padding: 1em;
}